body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url("../20231111_223819.jpg");
  scroll-behavior: smooth;
}

html {
  /* scroll-behavior: smooth; */
}

nav {
  background: #ffffff50;
  color: #111;
  font-size: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}

#blur {
  /* background: #ffffff80 !important; */
  filter: blur(5px);
  position: fixed;
  top: 0;
  z-index: 2;
  left: 0;
  padding: 0;
  height: 4rem;
  width: 100%;
}

.nav-menu {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 15px;
}

.nav-item {
  margin: 1.2rem;
  margin-top: 0.3rem;
}

.nav-item:hover {
  transform: scale(1.15);
  transition: 0.2s;
}

.nav-btn:hover {
  transform: scale(1.15);
  transition: 0.2s;
}

.nav-btn {
  position: absolute;
  right: 15px;
  font-size: 34px;
  color: #111;
  outline: none;
  border: none;
  background: transparent;
  display: none;
}

.section {
  width: 100%;
  min-height: 600px;
  position: relative;
  margin-top: 2rem;
}

.r-c-box {
  display: flex;
  flex-direction: row;
}

.my-title {
  position: absolute;
  bottom: 70px;
  margin: 0.3rem;
  left: 50px;
}

.my-title h1,
small,
p {
  margin: 0.1rem;
  padding: 0;
}

sp {
  color: #333
}

.side-menu {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 9999;
}

.scroll-box {
  width: 10px;
  height: 10px;
  border: 1.5px solid #fff;
  margin: 0.3rem;
  border-radius: 50%;
}

*::-webkit-scrollbar,
::-webkit-scrollbar {
  display: none
}


.active-box {
  height: 10px;
  background: #fff;
}


.white-0 {
  width: 100%;
  height: 30px;
  background: #ffffff40;
}

.white-1 {
  width: 100%;
  height: 40px;
  background: #ffffff60;
}

.white-2 {
  width: 100%;
  height: 50px;
  background: #ffffff90;
}

.about-body {
  overflow-wrap: break-word;
  margin-top: 4rem;
}

.about-body h3 {
  color: #4682D5;
  padding: 0.2rem;
  margin: 0.1rem;
}

.about-body p {
  width: 400px;
  font-size: 14.5px;
}

.about-body h3 {
  font-size: 23px;
  margin: 0.3rem;
  margin-left: 0;
  padding: 0;
}

.sec2-body {
  background: #fff;
  padding: 1.5rem;
  padding-bottom: 2rem;
}

.about-body-b {
  max-width: 60%;
  font-size: 13px;
  margin: 5px;
}

.about-body-b h3 {
  font-size: 20px !important;
}

.about-body-b p {
  font-size: 14px !important;
}

.mbox {
  display: none;
}

.cbox {
  display: block;
}

.about-box {
  max-width: 70%;
  width: 49%;
}

.about-box img {
  width: 340px;
}

.about-img {
  width: 290px !important;
  margin: 10px !important;
}

.sec3 {
  margin-top: 1rem;
}

.modal {
  background: #fff;
  border-radius: 9px;
  padding: 0.8rem;
  margin: 1.3rem;
  margin-top: 1.5rem;
  outline: 10px solid #ffffff70;
}

.modal h3,
.modal p {
  margin: 0.1rem;
}

.progress-box {
  font-size: 13px;
  padding: 0.1rem;
  position: relative;
  margin: 0.2rem;
  margin-top: 0.6rem;
}


.skill-box {}

.progress-box span {
  position: absolute;
  right: 13px;
  top: 5px;
}

.bg-progress {
  background: #ccc;
  width: 97%;
  height: 4px;
  position: relative;
  margin-top: 10px;
  border-radius: 5px;
}

.progress-value {
  background: #E14CAA;
  width: 50%;
  height: 4px;
  border-radius: 2px;
}

.sm-card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}

.sm-card p {
  margin: 0;
}

.sm-card {
  background: #fff;
  padding: 0.8rem;
  border-radius: 7px;
  margin: 0.3rem;
  text-align: center;
  font-size: 9px;
  min-width: 21%;
}

.sm-card-title {
  font-size: 12px;
  font-weight: 550;
}

.sm-card img {
  width: 120px;
  /* height: 120px; */
  border-radius: 9px;
}

.cover-skill-box {}

.repo-card-box {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.repo-card {
  background: #fff;
  margin: 0.5rem;
  padding: 0.9rem;
  border-radius: 8px;
  font-size: 14px;
  min-width: 300px;
  text-align: center;
}

.skill-repo-title {
  margin: 0.5rem;
  margin-left: 0.8rem;
  color: #000;
}

.repo-title {
  font-weight: bold;
  text-align: start;
}

.repo-des {
  font-size: 12px;
  text-align: start;
}

.repo-img {
  text-align: center;
  width: 150px;
  border-radius: 9px;
}

.tr-btn {
  padding: 0.3rem 0.8rem;
  margin: 0.5rem;
  margin-top: 1rem;
  text-decoration: none;
  text-align: start;
  position: relative;
  padding-right: 3rem;
}

.tr-btn ion-icon {
  font-size: 24px;
  position: absolute;
  right: 10px;
}

.sec4 {
  background: #fff;
  margin-top: 1rem;
}

.contact-form {
  padding: 2rem;
}

.contact-form h3 {
  margin: 0.5rem;
}

.input-box {
  margin: 0.4rem;
  margin-top: 0.8rem;
  max-width: 550px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 0.5rem;
  color: #212121;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: 2px solid #999;
  border-radius: 8px;
  font-size: 14px;
}

input::placeholder,
textarea::placeholder {
  font-weight: normal
}

.input-box button {
  padding: 0.4rem 1.7rem;
  width: max-content;
  font-size: 15px;
  border: none;
  outline: none;
  background: #4597CE;
  color: #fff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}

input:focus,
textarea:focus {
  border: 2px solid #5182BE;
}

footer {
  background: #111;
  color: #fff;
  padding: 2rem;
  margin-top: 0.5rem;
}

.light-dark {
  color: #5A5A5A
}

.small-footer {
  font-size: 10px;
}

.footer-logos ion-icon {
  font-size: 28px;
  margin: 0.4rem;
}

footer ion-icon {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

footer a {
  color: #ccc;
  text-decoration: none;
}

imp {
  color: red;
  margin: 4px;
}

@media screen and (max-width: 600px) {
  .nav-item:hover {
    transform: scale(1.1) translate(3%) !important;
    transition: 0.2s;
  }

  .sm-card {
    min-width: 40%;
  }

  .modal {
    max-width: 100%;
  }

  .about-box {
    max-width: 100%;
    width: auto;
  }

  .mbox {
    display: block;
  }

  .cbox {
    display: none;
  }

  .about-body p {
    width: auto;
  }

  .about-body-b {
    max-width: max-content
  }

  .about-box img {
    width: 90%;
  }

  .r-c-box {
    flex-direction: column
  }

  .my-title {
    left: 40px;
  }

  .section {
    width: 100%;
    min-height: 87vh;
    position: relative;
  }

  .sec2-body {
    flex-direction: column;
  }

  .nav-btn {
    display: block;
  }

  .nav-item {
    display: none;
    margin: 1rem;
    margin-left: 1.5rem;
  }

  .nav-menu {
    background: #ffffff90;
    height: max-content;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 4rem;
    background: #fff;
    width: 100%;
  }
}